P {font-family:Verdana;color:white}
BODY {background-color:#99CCFF}
TH {background-color:#CCCCCC;color:black;font-size:18pt}
TD {background-color:white;color:red;font-size:15pt}
LI {background-color:white}
a {text-decoration: none}